@import "../settings/variables";

.form__formStep {
  width: 100%;
  height: 885px;
}

.formStep{
  width: 100%;
  height: 100%;
}

.formStep__row {
  width: 100%;
  height: 100%;
}

.formStep__col {
  padding: 0;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  position: relative;
}

.step__number {
  margin-top: 35px;
  font-size: 24px;
  font-weight: lighter;
}

.step__title {
  margin-top: 70px;
  font-size: 36px;
  font-weight: 600;
}

.step__options {
  margin-top: 44px;
  font-size: 24px;
  font-weight: lighter;
}

//START form step1: options: items
.items__options {
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  .items__label{
    margin-bottom: 40px;
    font-size: 24px;
  }
  .items__input{
    margin-right: 10px;
  }
}
.items__input:not(:checked),
.items__input:checked{
  position: absolute;
  margin-right: 1.5em;
  bottom: 7px;
}
.items__input:not(:checked),
.items__input:checked,
.items__label,
.items__label{
  position: relative;
  cursor: pointer;
  padding-left: 0.5em;
}
.items__input:not(:checked):before{
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 1em;
  height: 1em;
  border: 0.5px solid $color-dark-grey;
  background: #EDEDEB;
}
.items__input:checked:after{
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 1em;
  height: 1em;
  border: 0.5px solid $color-dark-grey;
  background: $color-yellow;
}
.items__label:after + .items__input:not(:checked){
  opacity: 0;
  transform: scale(0);
}
.items__label:after + .items__input:checked {
  opacity: 1;
  transform: scale(1);
}
//End form step1: options: items



//START form step2: options: bags
.options__bags {}
.bags__label{}
.bags__span{
  margin-right: 15px;
}
.bags__select{
  padding-left: 10px;
  padding-right: 10px;
  font-weight: lighter;
  appearance: none;
  height: 40px;
  width: 200px;
  cursor: pointer;
  &:focus{
    background: red;
  }
}
.bags__option{
  font-size: 24px;
  font-weight: lighter;
  background: #EEEDEB;
}
//End form step2: options: bags




//START form step3: options: location
.options__location--first{
  margin-bottom: 50px;
}
.location__span{
  margin-right: 15px;
}
.location__select{
  padding-left: 10px;
  padding-right: 10px;
  font-weight: lighter;
  appearance: none;
  height: 40px;
  width: 250px;
  cursor: pointer;
  &:focus{
    background: red;
  }
}
.location__option{
  font-size: 24px;
  font-weight: lighter;
  background: #EEEDEB;
}



.options__location--second {
  height: 100%;
  width: 60%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  .location__label{
    margin-bottom: 20px;
    font-size: 24px;
    padding: 10px;
    border: 0.5px solid $color-dark-grey;
    background: transparent;
  }
  .location__input{
    margin-right: 10px;
  }
}

.location__input:not(:checked),
.location__input:checked{
  display: none;
}
.location__input:not(:checked),
.location__input:checked,
.location__label{
  position: relative;
  cursor: pointer;
  padding-left: 0.5em;
  margin-right: 0.7em;
}
.location__input:checked + .location__label {
  background: $color-yellow;
}
.location__label--specific{
  margin-top: 20px;
  font-size: 24px;
  font-weight: 600;
  width: 100%;
}
.location__input--specific{
  width: 100%;
  background: transparent;
  border: 0.5px solid $color-dark-grey;
}
//END form step3: options: location




//Start form step4: options: when
.options__when{
  
}
.when__row{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  //flex-direction: column;
}
.when__col{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.when__col--address{
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 30px;
}
.when__col--date{
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 30px;
}
.when__labelInput{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 30px;
}
.when__label{
  font-size: 24px;
  font-weight: lighter;
  width: 110px;
  margin-right: 20px;
}
.when__input{
  background: transparent;
  border: 0.5px solid $color-dark-grey;
  font-size: 24px;
  font-weight: lighter;
}
//END form step4: options: when



.step__prevNext {
  position: absolute;
  bottom: 50px;
}

.step__prev {
  height: 80px;
  width: 180px;
  margin-right: 50px;
  background: transparent;
  border: 0.75px solid $color-dark-grey;
  &:disabled{
    display: none;
  }
}

.step__next {
  height: 80px;
  width: 180px;
  background: transparent;
  border: 0.75px solid $color-dark-grey;
  &:disabled{
    display: none;
  }
}
