@import "../settings/variables";

.form__formStep {
  width: 100%;
  height: 800px;
}
.formStep{
  width: 100%;
  height: 100%;
}
.formStep__row {
  width: 100%;
  height: 100%;
}
.formStep__col {
  padding: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  position: relative;
}

@media (max-width: 1300px) {
  .form__formStep {
    height: 760px;
  }
}
@media (max-width: 1024px) {
  .form__formStep {
    //width: 100%;
    overflow: hidden;
    height: 650px;
    position: relative;
    &:before{
      position: absolute;
      content: '';
      height: 100%;
      width: 100%;
      background-color: rgba(255, 255, 255, 0.79);
    }
  }
}
@media (max-width: 768px) {
  .form__formStep {
    width: 100%;
    background: #EDEDEB!important;
    overflow: hidden;
    height: 500px;
    &:before{
      height: 0;
      width: 0;
    }
  }
  .formStep__row{
    width: 100%;
    margin: 0;
    padding: 0;
  }
}
@media (max-width: 620px) {
  .form__formStep {
    height: 450px;
  }
}
@media (max-width: 550px) {
  .form__formStep {
    height: 430px;
  }
}
@media (max-width: 450px) {
  .form__formStep {
    height: 470px;
  }
}
@media (max-width: 375px) {
  .form__formStep {
    height: 430px;
  }
}