@import "../settings/variables";
@use "sass:color";

.home__contact{
  width: 100%;
  height: 1000px;
  z-index: 0;
  position: relative;
  &:before{
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.79);
  }
}
.contact{
  height: 100%;
  width: 100%;
}
.row {}
.contact__row{
  height: 100%;
  width: 100%;
}
.col-lg-8 {}
.col-12 {}
.contact__col{
  height: 100%;
  width: 100%;
}
.col-lg-4 {}
.col-12 {}
.contact__right{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.right__title{
  width: 100%;
  font-size: 38px;
  text-align: center;
  color: $color-dark-grey;
  margin-bottom: 30px;
}
.right__separator{
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}
.right__image{}
.success-message{
  font-size: 18px;
  font-weight: bold;
  color: #2D9E22;
  margin-bottom: 30px;
  p{
    margin-bottom: 4px;
  }
}
.error-message{
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  color: #FB5252;
  margin-bottom: 30px;
  p{
    margin-bottom: 4px;
  }
}
.empty-div--success{
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 60px;
}
.contact-form {
  width: 100%;
  max-height: 330px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.form{}
.row {}
.form__row{}
.form__col--button{
  display: flex;
  justify-content: flex-end;
}
.col-6 {}
.form__col{}
.form__label{
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 10px;
  width: 100%;
}
.form__label--textarea{
  margin-top: 40px;
}
.form__text {}
.form__textarea2{
  position: relative;
  height: 102px;
  resize: none;
  line-height: 24px;
  outline: none;
  &::placeholder{
    line-height: 24px;
  }
}
.form__input{
  font-size: 18px;
  color: $color-dark-grey;
  background-color: #FEFCFB;
  border: 1px solid transparent;
  border-bottom: 1px solid #707070;
  outline: none;
  width: 100%;
  &:focus{
    border: 1px solid #707070
  }
  &::placeholder{
    color: lighten($color-dark-grey, 65%);
  }
}
.error-info{
  font-size: 10.5px;
  font-weight: bold;
  color: #FB5252;
  padding-top: 5px;
  border: 1.0px solid transparent;
  border-top: 1.0px solid #FB5252;
  position: relative;
  top: -2px;
}
.empty-div--error{
  font-size: 10.5px;
  font-weight: bold;
  padding-top: 15.5px;
  border: 1.0px solid transparent;
}
.form__email {}
.col-12 {}
.form__button{
  height: 50px;
  width: 150px;
  background-color: #FEFEFE;
  font-size: 18px;
  border: 0.75px solid $color-dark-grey;
  margin-top: 40px;
}