@import "../settings/variables";
.home__about-us{
  width: 100%;
  height: 935px;
  background: $color-lighter-grey;
}
.about-us{
  width: 100%;
  height: 100%;
}
.row {}
.about-us__row{
  height: 100%;
  width: 100%;
}
.col-lg-6 {}
.col-12 {}
.about-us__col{
  height: 100%;
}
.about-us__left {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.left__title{
  font-size: 38px;
  color: $color-dark-grey;
  margin-bottom: 32px;
}
.left__separator{
  margin-bottom: 62px;
}
.left__image{}
.left__text{
  font-size: 30px;
  color: $color-dark-grey;
  text-align: center;
  letter-spacing: -0.6px;
  line-height: 50px;
  margin-bottom: 40px;
}
.left__signature{
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.about-us__right{
  overflow: hidden;
}
.right_image{}


@media (max-width: 1024px){
  .home__about-us{
    //width: 100%;
    //height: 935px;
    //background: $color-lighter-grey;
  }
  .about-us{
    //width: 100%;
    //height: 100%;
  }
  .row {}
  .about-us__row{
    //height: 100%;
    //width: 100%;
  }
  .about-us__col{
    //height: 100%;
  }
  .about-us__left {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .left__title{
    font-size: 38px;
    color: $color-dark-grey;
    margin-bottom: 32px;
  }
  .left__separator{
    margin-bottom: 62px;
  }
  .left__image{}
  .left__text{
    font-size: 30px;
    color: $color-dark-grey;
    text-align: center;
    letter-spacing: -0.6px;
    line-height: 50px;
    margin-bottom: 40px;
  }
  .left__signature{
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
  .about-us__right{
    overflow: hidden;
  }
  .right_image{}

}

//@media (max-width: 1020px){
//  .home__about-us{
//    width: 100%;
//    height: 935px;
//    background: $color-lighter-grey;
//  }
//  .about-us{
//    width: 100%;
//    height: 100%;
//  }
//  .row {}
//  .about-us__row{
//    height: 100%;
//    width: 100%;
//  }
//  .col-lg-6 {}
//  .col-12 {}
//  .about-us__col{
//    height: 100%;
//  }
//  .about-us__left {
//    height: 100%;
//    width: 100%;
//    display: flex;
//    justify-content: center;
//    align-items: center;
//    flex-direction: column;
//  }
//  .left__title{
//    font-size: 38px;
//    color: $color-dark-grey;
//    margin-bottom: 32px;
//  }
//  .left__separator{
//    margin-bottom: 62px;
//  }
//  .left__image{}
//  .left__text{
//    font-size: 30px;
//    color: $color-dark-grey;
//    text-align: center;
//    letter-spacing: -0.6px;
//    line-height: 50px;
//    margin-bottom: 40px;
//  }
//  .left__signature{
//    width: 100%;
//    display: flex;
//    justify-content: flex-end;
//  }
//  .about-us__right{
//    overflow: hidden;
//  }
//  .right_image{}
//
//}



//@media (max-width: 1020px){
//  .home__about-us{
//    width: 100%;
//    height: 935px;
//    background: $color-lighter-grey;
//  }
//  .about-us{
//    width: 100%;
//    height: 100%;
//  }
//  .row {}
//  .about-us__row{
//    height: 100%;
//    width: 100%;
//  }
//  .col-lg-6 {}
//  .col-12 {}
//  .about-us__col{
//    height: 100%;
//  }
//  .about-us__left {
//    height: 100%;
//    width: 100%;
//    display: flex;
//    justify-content: center;
//    align-items: center;
//    flex-direction: column;
//  }
//  .left__title{
//    font-size: 38px;
//    color: $color-dark-grey;
//    margin-bottom: 32px;
//  }
//  .left__separator{
//    margin-bottom: 62px;
//  }
//  .left__image{}
//  .left__text{
//    font-size: 30px;
//    color: $color-dark-grey;
//    text-align: center;
//    letter-spacing: -0.6px;
//    line-height: 50px;
//    margin-bottom: 40px;
//  }
//  .left__signature{
//    width: 100%;
//    display: flex;
//    justify-content: flex-end;
//  }
//  .about-us__right{
//    overflow: hidden;
//  }
//  .right_image{}
//
//}