@import "../settings/variables";

.home__header {
  margin-top: 37px;
  height: 95px;
}

.nav--first {
  font-size: 14px;
  margin-bottom: 26px;
  .nav-item {
    .nav-link {
      text-decoration: none;
      color: $color-light-grey;
      border: 0.75px solid transparent;
      &:active {
        border: 0.75px solid $color-yellow;
      }
      &:hover {
        border: 0.75px solid $color-yellow;
      }
    }
  }
}

.nav--second {
  font-size: 18px;
  color: $color-dark-grey;
  a {
    color: $color-dark-grey;
    &:active {
      border: 0.75px solid $color-dark-grey;
    }
  }
  .nav-link {
    border: 0.75px solid transparent;
    &:active {
      border: 0.75px solid $color-dark-grey;
    }
    &:hover {
      border: 0.75px solid $color-dark-grey;
      cursor: pointer;
    }
  }
}



