.container-fluid{
  max-width: 1700px;
}



@media (max-width: 1024px) {
  body {
    max-width: 900px;
  }
}

@media (max-width: 900px) {
  body {
    max-width: 800px;
  }
}


@media (max-width: 414px) {
  body {
    max-width: 414px;
  }
}