.home__share-stuff{
  width: 100%;
  height: 200px;
}
.share-stuff{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.list__btn{}

@media (max-width: 775px) {
  .home__share-stuff{
    height: 150px;
  }
}

@media (max-width: 544px) {
  .home__share-stuff{
    height: 110px;
  }
}

@media (max-width: 375px) {
  .home__share-stuff{
    height: 90px;
  }
}