.home__separator{
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.separator{}
.separator__title{
  font-size: 38px;
  margin-bottom: 26px;
}
.separator__decoration{
  display: flex;
  justify-content: center;
  align-items: center;
}
.separator__image{}

@media (max-width: 1024px) {
  .separator{
    text-align: center;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .separator__title{
    font-size: 34px;
    margin-bottom: 22px;
  }
}
@media (max-width: 775px) {
  .home__separator{
    height: 180px;
  }
  .separator__title{
    font-size: 28px;
  }
  .separator__image{
    width: 80%;
  }
}
@media (max-width: 544px) {
  .home__separator{
    height: 110px;
  }
  .separator__title{
    font-size: 18px;
    margin-bottom: 18px;
  }
  .separator__image{
    width: 60%;
  }
}