.home{
  //width: 100vw;
}
.container-fluid{
  max-width: 1700px;
}

@media (max-width: 1024px) {
  .container-fluid {
    max-width: 900px;
  }
  .home{
    width: 100vw;
  }
}

@media (max-width: 900px) {
  .container-fluid {
    max-width: 800px;
  }
}


@media (max-width: 414px) {
  .container-fluid {
    max-width: 414px;
  }
}