@import "../settings/variables";
.home__options{
  height: 250px;
  width: 100%;
}
.options{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.row{}
.options__row{
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}
.col-3{}
.options__card{
  text-align: center;
  font-size: 22px;
  color: $color-dark-grey;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 30px;
}
.options__button {
  background: #fff;
  font-size: 24px;
  height: 80px;
  width: 210px;
  color: $color-dark-grey;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.75px solid transparent;
  &:hover{
       border: 0.75px solid $color-dark-grey;
       cursor: pointer;
     }
  &:active{
    border: 0.75px solid $color-dark-grey;
  }
}

@media (max-width: 1024px) {
  .options__card{
    font-size: 20px;
    line-height: 28px;
  }
  .options__button {
    font-size: 22px;
    height: 75px;
    width: 205px;
  }
}
@media (max-width: 767px) {
  .home__options{
    height: 210px;
  }
  .options__card{
    font-size: 16px;
    line-height: 26px;
  }
  .options__button {
    font-size: 18px;
    height: 50px;
    width: 150px;
  }
  .options__row{
    width: 100%;
  }
  .options__card--desc{
    width: 100%;
  }
}
@media (max-width: 500px) {
  .home__options{
    height: 180px;
  }
  .options__row{
    justify-content: space-around;
  }
  .options__card{
    font-size: 12px;
    line-height: 17px;
  }
  .options__button {
    font-size: 14px;
  }
}
@media (max-width: 300px) {
  .options__button {
    font-size: 13px;
  }
}