@import "../settings/variables";

.register{
  height: calc(100vh - 37px);
  width: 100%;
}
#register__separator{
  text-align: center;
  margin-bottom: 50px;
}
.register__section{
  height: 70%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.register-form{
  width: 30%;
}
.register-form__row--input{
  background: #F2F3F3;
  background: $color-lighter-grey;
  padding: 0 40px;
  &:nth-of-type(3){
    padding-bottom: 40px;
  }
}
.register-form__col{}
.register-form__label{}
.register-form__text{}
.register-form__input{
  background: $color-lighter-grey;;
}
.register-form__label--email{
  margin-top: 40px;
}
.register-form__label--psswrd{
  margin-top: 20px;
  margin-bottom: 10px;
}
.register-form__email{}
.register-form__password{}
.register-form__passwordRepeat{}
.register-form__row--button{
  width: 100%;
  display: flex;
  justify-content: center;
}
.register-form__button{
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.75px solid $color-dark-grey;
  padding: 10px 20px;
}
.register-form__button--left{
  color: $color-dark-grey;
  border: 0.75px solid transparent;
  &:hover{
    color: $color-dark-grey;
    border: 0.75px solid $color-dark-grey;;
  }
}
.register-form__button--right{}
.register-error-info{
  padding-top: 3px;
}
.register-empty-div--error{
  padding-top: 13.5px;
  margin: -0.25px;
  border: 1.0px solid transparent;
}
