// ----- COLORS -----
$color-white: #F0F1F1;
$color-yellow: #FAD648;
$color-light-grey: #737373;
$color-dark-grey: #3C3C3C;
$color-olive: #5E5322;

// ----- FONTS -----
$font-base: 'Open Sans', sans-serif;
$font-alt: 'Merriweather', serif;


