@import "./generic/reset";
@import "./settings/variables";
@import "./settings/mixins";
@import "./partials/HomeHeader";
@import "./partials/HomeHero";

body {
  font-family: $font-base;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}