@import "./generic/reset";
@import "./settings/variables";
@import "./settings/mixins";
@import "./partials/Home";
@import "./partials/HomeHeader";
@import "./partials/HomeHero";
@import "./partials/HomeThreeColumns";
@import "./partials/HomeSeparator";
@import "./partials/HomeShareStuff";
@import "./partials/HomeFourColumns";
@import "./partials/HomeAboutUs";
@import "./partials/HomeOptions";
@import "./partials/HomeOptionsList";
@import "./partials/HomeOptionsListItem";
@import "./partials/HomeContacUs";
@import "./partials/HomeFooter";
@import "./partials/Login";
@import "./partials/Register";
@import "./partials/Logout";
@import "./partials/Form";
@import "./partials/FormHero";
@import "./partials/FormInfo";
@import "./partials/FormStepBasic";
@import "./partials/FormStepOptions";
@import "./partials/FormStepButtons";
@import "./partials/FormStepTitle";

body {
  font-family: $font-base;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}